@model SV20T1020460.DomainModels.Supplier
@{
    ViewBag.Title = "Xóa nhà cung cấp";
}

<div class="box box-danger">
    <div class="box-body">
        <form action="~/Supplier/Delete/@Model.SupplierID" method="post">
            <div class="form-group">
                <label for="email">Tên nhà cung cấp:</label>
                <p class="form-control-static">@Model.SupplierName</p>
            </div>
            <div class="form-group">
                <label for="email">Tên liên lạc:</label>
                <p class="form-control-static">@Model.ContactName</p>
            </div>
            <div class="form-group">
                <label for="email">Số điện thoại:</label>
                <p class="form-control-static">@Model.Phone</p>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <p class="form-control-static">@Model.Email</p>
            </div>
            <div class="form-group">
                <label for="email">Địa chỉ:</label>
                <p class="form-control-static">@Model.Address</p>
            </div>
            <div class="form-group">
                <label for="email">Tỉnh thành:</label>
                <p class="form-control-static">@Model.Provice</p>
            </div>
           
            <div class="form-group text-right">
                @if (ViewBag.AllowDelete)
                {    
                    <button type="submit" class="btn btn-danger">
                        <i class="fa fa-trash"></i>
                        Xác nhận xóa
                    </button>
                }
                <a href="~/Supplier" class="btn btn-default">Quay lại</a>
            </div>
        </form>
    </div>
</div>