@model SV20T1020460.DomainModels.Customer
@{
    ViewBag.Title = "Xóa khách hàng";
}

<div class="box box-danger">
    <div class="box-body">
        <form action="~/Customer/Delete/@Model.CustomerId" method="post">
            <div class="form-group">
                <label for="email">Tên khách hàng:</label>
                <p class="form-control-static">@Model.CustomerName>
            </div>
            <div class="form-group">
                <label for="email">Tên giao dịch:</label>
                <p class="form-control-static">@Model.ContactName</p>
            </div>
            <div class="form-group">
                <label for="email">Số điện thoại:</label>
                <p class="form-control-static">@Model.Phone</p>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <p class="form-control-static">@Model.Email</p>
            </div>
            <div class="form-group">
                <label for="email">Địa chỉ:</label>
                <p class="form-control-static">@Model.Address</p>
            </div>
            <div class="form-group">
                <label for="email">Tỉnh thành:</label>
                <p class="form-control-static">@Model.Province</p>
            </div>
            <div class="form-group">
                <label for="email">Trạng thái:</label>
                <p class="form-control-static">@(Model.Islocked ? "Tài khoản bị khóa" : "Tài khoản đang hoạt động")</p>
            </div>
            <div class="form-group text-right">
                @if (ViewBag.AllowDelete)
                {
                    
                    <button type="submit" class="btn btn-danger">
                        <i class="fa fa-trash"></i>
                        Xác nhận xóa
                    </button>
                }
                <a href="~/Customer" class="btn btn-default">Quay lại</a>
            </div>
        </form>
    </div>
</div>